.page-title {
    color: #17a2b8;
    font-weight: bold;
    text-align: center;
}

.topicBtn {
    margin: 0.5rem;
}

#newTopicBtn {
    margin-left: 0.6rem;
}

.img-container {
    border: 1px solid #efefef;
    text-align: center;
}

.info {
    margin: 0.5rem 0;
    text-align: center;
}

.gif {
    margin-top: 0.5rem;
    position: relative;
}

.favorite {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}